h1{
    color:floralwhite;
    text-align: center;
}
body{
    margin:10px;
    border-color: aqua;
    background: #000;
}
content {
    width:auto
    boarder; 1px solid #ccc;
    height:auto
    margin: 20px auto;
}
